.main-card-select {
  display: flex;
  width: 90%;
  height: 24px;
  justify-content: center;
  align-items: center;
  .icon-select {
    height: 100%;
    width: 20%;
  }
  .label {
    width: 62%;
    color: white;
    padding-left: 6px;
  }
  .arrow {
    width: 18%;
    height: 24px;
  }
}
