.slider {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .img {
    width: 190px;
    height: auto;
    margin-top: 24px;
    margin-left: -34px;
  }
  .title {
    display: flex;
    width: 70%;
    height: 20px;
    margin-top: 24px;
    .icon {
      height: 100%;
    }
    .label {
      margin-left: 10px;
      color: white;
    }
  }
  .main-title {
    width: 90%;
    height: auto;
    margin-top: 36px;
    color: var(--foundation-blue-light-bluelight-300, #6d96f2);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .main-panel-select {
    width: 90%;
    height: 70%;
    .container-select {
      width: 100%;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .container-close-sesion {
    margin-top: 10%;
    width: 100%;
    height: auto;
    justify-content: end;
    align-items: flex-end;
  }
}
